[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "theme"]
	path = theme
	url = git@github.com:fhirschmann/mysite-theme.git
[submodule "pelican-plugins2/pelican-knitr"]
	path = pelican-plugins2/pelican-knitr
	url = https://github.com/sbisaacson/pelican-knitr.git
